header {
  height: 20vh;
}

#section-d {
  width: 100%;
  height: 90vh;
  padding: 50px 0;
  /* background-color: rgb(206, 237, 252); */
  /* border: 2px solid magenta; */
}

#section-d h4 {
  text-align: center;
  margin: 30px 0px 15px 0px;
  color: rgb(1, 19, 26);
}

#section-d h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
}

#section-d .section-d-container {
  width: 90%;
  height: 70%;
  margin: 15px auto;
  border: 1px solid black;
  display: flex;
}

#section-d .section-d-left, .section-d-right {
  width: 50%;
  height: 100%;
  margin: auto;
  /* border: 1px solid #000; */
}

#section-d .section-d-left {
  width: 70%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  border: 1px solid red;
}

#section-d .section-d-left img {
  width: 100%;
  /* border: 1px solid #000; */
}


#section-d .section-d-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}


#section-d .section-d-right .testimonial {
  width: 300px;
  height: 290px;
  /* margin: 30px 0; */
  /* border: 1px solid rgb(1, 19, 26); */
  text-align: center;
}

#section-d .section-d-right .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 2px solid rgb(16, 69, 93); */
}

#section-d .section-d-right .testimonial h4 {
  color: rgb(16, 69, 93);
  font-weight: 600;
  font-size: 16px;
}

#section-d .section-d-right .testimonial p {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(16, 69, 93);
}

.cart-content-container {
  border: 1px solid rgb(224, 221, 221);
  width: 70%;
  padding: 20px;
  margin: 20px 0px;
  display: flex;
}

.cart-content {
  /* width: 40%; */
  /* border: 1px solid magenta; */
  padding-left: 14px;
}

.cart-content h4 {
  color: rgb(16, 69, 93);
  margin-bottom: 10px;
}

.cart-content p {
  font-size: 12px;
  margin-bottom: 14px;
}

.cart-content span {
  background-color: orange;
  font-size: 12px;
  color: #fff;
  padding: 5px;
}

.cart-content img {
  width: 70px;
  margin-left: 25px;
}

.course-content {
  width: 60%;
  display: flex;
  margin: 18px 0;
  justify-content: space-between;
  color: rgb(16, 69, 93);
}

.cart-content .remove-course {
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  color: rgb(16, 69, 93);
  cursor: pointer;
}

.cart-content .remove-course:hover {
  color: purple;
}


