#section-a {
    width: 70%;
    margin: 55px auto;
    /* border: 2px solid magenta; */
}

#section-a h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

#section-a .section-a-container {
    width: 100%;
    /* height: 200px; */
    /* border: 1px solid #000; */
}

#section-a .section-a-container .course-flex {
    display: flex;
    justify-content: space-between;
}

#section-a .section-a-container .course-card {
    width: 250px;
    margin: 20px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    /* border: 1px solid magenta; */

    background-color: rgba(29, 101, 129, 0.849);
    transition: filter 0.3s;
}

#section-a .section-a-container .course-card img {
    width: 100%;
    height: 130px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#section-a .section-a-container .course-card:hover {
    cursor: pointer;
    filter: brightness(50%);
}

#section-a .section-a-container .course-card .content {
    /* border: 1px solid #000; */
    padding: 10px;
}

#section-a .section-a-container .course-card .content h4 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#section-a .section-a-container .course-card .content p {
    font-size: 12px;
    margin: 8px 0;
    color: rgb(1, 19, 26);
}

#section-a .section-a-container .course-card .content img {
    width: 60px;
    height: 12px;
}

#section-a .section-a-container .btn-explore {
    padding: 12px 18px;
    border: none;
    outline: none;
    background-color: rgb(16, 69, 93);
    color: #fff;
    cursor: pointer;
}

#section-a .section-a-container .btn-explore:hover {
    background-color: #fff;
    outline: 1px solid rgb(16, 69, 93);
    color: rgb(16, 69, 93);
}



/* section-b */
#section-b {
    width: 100%;
    height: 86vh;
    padding: 50px 0;
    background-color: rgb(206, 237, 252);
    /* border: 1px solid rgb(16, 69, 93); */
}

#section-b h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
}

#section-b .section-b-container {
    width: 70%;
    height: 90%;
    margin: 15px auto;
    /* border: 1px solid black; */
    display: flex;
}

#section-b .section-b-left, .section-b-right {
    width: 50%;
    height: 100%;
    margin: auto;
    /* border: 1px solid #ce0a0a; */
}

#section-b .section-b-left {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
}

/* #section-b .section-b-left img {
    position: absolute;
    transform: translateX(-49%);
    left: 40%;
   
} */

#section-b .section-b-left .happy-woman {
    position: absolute;
    left: -108px;
    transform: scaleX(-1);
}

#section-b .section-b-left .black-shape {
    position: relative;
    z-index: -1;
    transform: scaleX(-1);
    width: 520px;
}


#section-b .section-b-right .content {
    /* border: 1px solid green; */
    margin: 0px 0px 0px 30px;
}

#section-b .section-b-right .content h4 {
    margin-bottom: 6px;
    color: rgb(8, 43, 59);
}

#section-b .section-b-right .content p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.3;
    color: rgb(16, 69, 93);
}



.section-c {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background-color: rgb(16, 69, 93);
    /* border: 2px solid magenta; */
}

.section-c-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #000; */
}

.section-c-content h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #fff;
}

.section-c-content p {
    font-style: italic;
    font-size: 18px;
    color: rgb(171, 224, 248);
}


/* section-b */
#section-d {
    width: 100%;
    height: 90vh;
    padding: 50px 0;
    /* background-color: rgb(206, 237, 252); */
    /* border: 2px solid magenta; */
}

#section-d h4 {
    text-align: center;
    margin: 30px 0px 15px 0px;
    color: rgb(1, 19, 26);
}

#section-d h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
}

#section-d .section-d-container {
    width: 70%;
    height: 70%;
    margin: 15px auto;
    border: 1px solid black;
    display: flex;
}

#section-d .section-d-left, .section-d-right {
    width: 50%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
}

#section-d .section-d-left {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
}

#section-d .section-d-left .happy-woman {
    position: absolute;
    left: -108px;
    transform: scaleX(-1);
}

#section-d .section-b-left .black-shape {
    position: relative;
    z-index: -1;
    transform: scaleX(-1);
    width: 520px;
}

#section-d .section-d-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


#section-d .section-d-right .testimonial {
    width: 300px;
    height: 290px;
    /* margin: 30px 0; */
    /* border: 1px solid rgb(1, 19, 26); */
    text-align: center;
}

#section-d .section-d-right .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 2px solid rgb(16, 69, 93); */
}

#section-d .section-d-right .testimonial h4 {
    color: rgb(16, 69, 93);
    font-weight: 600;
    font-size: 16px;
}

#section-d .section-d-right .testimonial p {
    font-size: 14px;
    line-height: 1.4;
    color: rgb(16, 69, 93);
}